html, body, #map-canvas{
        margin: 0;
        font-family: 'Open Sans';
        font-weight:  300;
        padding: 0;
        height: 100%;
}

#header{
	background-color: black;
	color: white;
	font-size: 25px;
	padding: 20px;
}

#header img{
	height: 50px;
	position: absolute;
	top: 10px;
}

#header a{
	color:white;
	font-size: 18px;
	float:right;
}
#loginDiv{
	width: 350px;
	height: 50px;
	position: absolute;
	font-size: 12px;
	top: 15px;
	z-index: 1;
	right: 0;
	padding-left: 10px;
	color: white;
}

#loginDiv input{
	width: 100px;
	height: 15px;
	font-size: 15px; 
	outline: none;
	transition: all 0.3s ease-out;
}

#loginDiv input[type=submit]{
	font-family: 'Open Sans';
	font-weight: 300;
	height: 25px;
    cursor: pointer;
    margin-right: 1%;
    background: -webkit-gradient(linear, left top, left bottom, from(#F24141), to(#DE2121));
    border: 1px solid #DE2121;
    text-shadow: 0 -1px rgba(0,0,0,0.3);
    text-decoration: none;
}