@font-face {
font-family: 'Open Sans';
src:
    url('../fonts/OpenSans-Light.ttf');
}

html, body, #map{
        margin: 0;
        font-family: 'Open Sans';
        font: url('');
        font-weight:  300;
        padding: 0;
        height: 100%;
}


#header{
	background-color: black;
	color: white;
	font-size: 25px;
	padding: 20px;
}

#header img{
	height: 50px;
	position: absolute;
	top: 10px;
}

#header a{
	color:white;
	font-size: 18px;
	float:right;
}
#loginDiv{
	width: 350px;
	height: 50px;
	position: absolute;
	font-size: 12px;
	top: 15px;
	z-index: 1;
	right: 0;
	padding-left: 10px;
	color: white;
}

#loginDiv input{
	width: 100px;
	height: 15px;
	font-size: 15px; 
	outline: none;
	transition: all 0.3s ease-out;
	border: 0px solid;
}

#loginDiv input[type=submit],
#addRoadworkBtn, #addMarkerBtn, #addIncidentBtn{
	font-family: 'Open Sans';
	font-weight: 300;
	height: 25px;
    cursor: pointer;
    margin-right: 1%;
    background: -webkit-gradient(linear, left top, left bottom, from(#F24141), to(#DE2121));
    border: 1px solid #DE2121;
    text-shadow: 0 -1px rgba(0,0,0,0.3);
    text-decoration: none;
    color: white;
}

#adminFunctions{
	background-color: black;
	opacity: 0.8;
	position: absolute;
	right:0;
	top:74px;
	width: 25%;
	height: 100%;
	outline:none;
	color: white;
	overflow: auto;
}

#adminFunctions form{
	font-size: 13px;
	width: 300px;
	height: 50px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}
#adminFunctions input[type=text], select, textarea{
	width: 180px;
	height: 30px;
	border: 0px solid;
}

#adminFunctions input[type=number] {height: 20px; border: 0px solid;}

#addRoadworkBtn, #addMarkerBtn, #addIncidentBtn{
	width: 100%;
	height: 35px;
	font-size: 18px;
	color: white;
	margin-left: auto;
	margin-right: auto;
	opacity: 0.8
}

#addRoadworkBtn:hover, #addMarkerBtn:hover, #addIncidentBtn:hover{
	opacity: 1;
}

textarea[name=rwork_desc], textarea[name=inc_desc] {
    width: 175px;
    height: 50px;
    resize: none;
    font-family: 'Open Sans';
    font-size: 11px;
}

#menu_rw_btn, #menu_inc_btn, #menu_report_btn, #menu_add_rw_btn,
#menu_edit_rw_btn, #menu_delete_rw_btn, #menu_view_rw_btn,
#menu_add_inc_btn, #menu_edit_inc_btn, #menu_delete_inc_btn, #menu_view_inc_btn{
	opacity: 0.8;
	font-family: 'Open Sans';
	font-weight: 300;
    cursor: pointer;
}

#menu_rw_btn:hover, #menu_inc_btn:hover, #menu_report_btn:hover, #menu_add_rw_btn:hover,
#menu_edit_rw_btn:hover, #menu_delete_rw_btn:hover, #menu_view_rw_btn:hover,
#menu_add_inc_btn:hover, #menu_edit_inc_btn:hover, #menu_delete_inc_btn:hover, #menu_view_inc_btn:hover{
	opacity: 1;
}	

#admin_menu, #admin_roadwork, #admin_incident{
	position: absolute;
	padding: 50px;
}

/*BASICALLY THE BACK BUTTONS*/
#adminFunctions a, #adminFunctions a:visited, #adminFunctions a:hover{
	font-size: 15px;
	float: right;
	color: white;
	cursor: pointer;
}