@font-face {
font-family: 'Open Sans';
src:
    url('../fonts/OpenSans-Light.ttf');
}

html, body{
        margin: 0;
        font-family: 'Open Sans';
        font-weight:  300;
        padding: 0;
        height: 100%;
        background-color: black;
}

#lowerbox{
	height: 90%;
}

#map {
	margin: 0;
	font-family: 'Open Sans';
	font-weight:  300;
	padding: 0;
	height:99%;
}


/*-------------------------------------------------------------------------------------
------------------------------ T A B L E S _ V I E W ----------------------------------
-------------------------------------------------------------------------------------*/

#table_view{
	margin-top: 0;
	background-color: white;
	font-family: 'Open Sans';
	font-weight:  300;
	padding: 0;
	height:99%;
	overflow: auto;
}

#table_view table{
	font-family: 'Calibri';
	margin-left: auto;
	margin-right: auto;
	width: 98%;
	margin-top: 1%;
	padding: 10px;
	background-color: white;
	overflow: auto;
	border-collapse: collapse;
	text-align: center;
	color: #666666;
}

#table_view th{
	font-size: 20px;
	font-weight: 100;
	padding: 5px 10px;
	border: 1px solid #D4D7FE;
	color:white;
	background-color: #4D90FE;
}

#table_view td{
	width: auto;
	padding: 5px 10px;
	font-size: 16px;
	border: 1px solid #D4D7FE;
}


#table_view tr:hover{ background-color: #E3E8FA; }


.table_buttons, .lightboxSubmitBtn{
	margin-left: auto;
	margin-right: auto;
	font-family: 'Open Sans';
	color: white;
	cursor: pointer;
	padding: 5px 8px;
	background-image: -webkit-linear-gradient(top,#4D90FE,#4787ED);
    background-image: -moz-linear-gradient(top,#4D90FE,#4787ED);
    background-image: -ms-linear-gradient(top,#4D90FE,#4787ED);
    background-image: -o-linear-gradient(top,#4D90FE,#4787ED);
    background-image: linear-gradient(top,#4D90FE,#4787ED);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) ;
    -webkit-border-radius: 2px;
     -khtml-border-radius: 2px;
       -moz-border-radius: 2px;
        -ms-border-radius: 2px;
         -o-border-radius: 2px;
            border-radius: 2px;
}

.edit_delete{
	width: 98%;
	position: relative;
	padding: 10px 12px;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}


/*-------------------------------------------------------------------------------------
----------------------- T A B L E S   A N D   B U T T O N S ---------------------------
-------------------------------------------------------------------------------------*/

/*COMPLETED ROADWORKS*/
#completedRoadworks th, .edit_delete #rw_completed, #completedIncidents th, .edit_delete #inc_completed{
	background-image: -webkit-linear-gradient(top,#33CC99,#1FC38C);
    background-image: -moz-linear-gradient(top,#33CC99,#1FC38C);
    background-image: -ms-linear-gradient(top,#33CC99,#1FC38C);
    background-image: -o-linear-gradient(top,#33CC99,#1FC38C);
    background-image: linear-gradient(top,#33CC99,#1FC38C);
}

.edit_delete #rw_completed:hover, .edit_delete #inc_completed:hover{
	background-image: -webkit-linear-gradient(top,#33CC99,#0BA270);
    background-image: -moz-linear-gradient(top,#33CC99,#0BA270);
    background-image: -ms-linear-gradient(top,#33CC99,#0BA270);
    background-image: -o-linear-gradient(top,#33CC99,#0BA270);
    background-image: linear-gradient(top,#33CC99,#0BA270);
}

/*ONGOING ROADWORKS*/
#ongoingRoadworks th, .edit_delete #rw_ongoing, #ongoingIncidents th, .edit_delete #inc_ongoing{
	background-image: -webkit-linear-gradient(top,#F66C6C,#E44E4E);
    background-image: -moz-linear-gradient(top,#F66C6C,#E44E4E);
    background-image: -ms-linear-gradient(top,#F66C6C,#E44E4E);
    background-image: -o-linear-gradient(top,#F66C6C,#E44E4E);
    background-image: linear-gradient(top,#F66C6C,#E44E4E);
}

.edit_delete #rw_ongoing:hover, .edit_delete #inc_ongoing:hover{
	background-image: -webkit-linear-gradient(top,#F66C6C,#D03939);
    background-image: -moz-linear-gradient(top,#F66C6C,#D03939);
    background-image: -ms-linear-gradient(top,#F66C6C,#D03939);
    background-image: -o-linear-gradient(top,#F66C6C,#D03939);
    background-image: linear-gradient(top,#F66C6C,#D03939);
}

/*PLANNED ROADWORKS*/
#plannedRoadworks th, .edit_delete #rw_planned, #plannedIncidents th, .edit_delete #inc_planned{
	background-image: -webkit-linear-gradient(top,#F6BA53,#E6A83D);
    background-image: -moz-linear-gradient(top,#F6BA53,#E6A83D);
    background-image: -ms-linear-gradient(top,#F6BA53,#E6A83D);
    background-image: -o-linear-gradient(top,#F6BA53,#E6A83D);
    background-image: linear-gradient(top,#F6BA53,#E6A83D);
}

.edit_delete #rw_planned:hover, .edit_delete #inc_planned:hover{
	background-image: -webkit-linear-gradient(top,#F6BA53,#D5972B);
    background-image: -moz-linear-gradient(top,#F6BA53,#D5972B);
    background-image: -ms-linear-gradient(top,#F6BA53,#D5972B);
    background-image: -o-linear-gradient(top,#F6BA53,#D5972B);
    background-image: linear-gradient(top,#F6BA53,#D5972B);
}

/*-------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------*/

	

.table_buttons:hover, .lightboxSubmitBtn:hover{
	background-image: -webkit-linear-gradient(top,#4D90FE,#0066CC);
    background-image: -moz-linear-gradient(top,#4D90FE,#0066CC);
    background-image: -ms-linear-gradient(top,#4D90FE,#0066CC);
    background-image: -o-linear-gradient(top,#4D90FE,#0066CC);
    background-image: linear-gradient(top,#4D90FE,#0066CC);
}


/*-------------------------------------------------------------------------------------
------------------------------ L O G I N + H E A D E  R -------------------------------
-------------------------------------------------------------------------------------*/


#header{
	background-color: black;
	color: white;
	font-size: 25px;
	padding: 20px;
	height: 4.5%;
}

#header img{
	height: 50px;
	position: absolute;
	top: 1%;
}

#header a{
	color:white;
	font-size: 18px;
	float:right;
}

#loginDiv{
	width: 350px;
	height: 50px;
	position: absolute;
	font-size: 12px;
	top: 15px;
	z-index: 1;
	right: 0;
	padding-left: 10px;
	color: white;
}

#loginDiv input{
	width: 100px;
	height: 15px;
	font-size: 15px; 
	outline: none;
	transition: all 0.3s ease-out;
	border: 0px solid;
}

/*-------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------*/


#addroadworkDiv img{
	position: relative;
	left: -35px;
}

#loginDiv input[type=submit],
#addRoadworkBtn, #addIncidentBtn{
	font-family: 'Open Sans';
	font-weight: 300;
	height: 25px;
    cursor: pointer;
    margin-right: 1%;
    background-image: -webkit-linear-gradient(top,#F24141,#DE2121);
    background-image: -moz-linear-gradient(top,#F24141,#DE2121);
    border: 1px solid #DE2121;
    text-shadow: 0 -1px rgba(0,0,0,0.3);
    text-decoration: none;
    color: white;
}



#adminFunctions{
	background-color: black;
	position: relative;
	top: -100%;
	float:right;
	width: 25%;
	height: 100%;
	outline:none;
	color: white;
	overflow-x: hidden;
	overflow-y: auto;
}

#adminFunctions form{
	position:relative;
	font-size: 13px;
	width:290px;
	max-width:290px;
	height: 50px;
	left:15px;
    text-decoration: none;
}
#adminFunctions input[type=text], select, textarea{
	width: 170px;
	height: 30px;
	border: 0px solid;
}

#adminFunctions input[type=number] {height: 20px; border: 0px solid;}

#addRoadworkBtn, #addIncidentBtn{
	width: 100%;
	height: 35px;
	font-size: 18px;
	color: white;
	margin-left: auto;
	margin-right: auto;
}


textarea[name=rwork_desc], textarea[name=inc_desc] {
    min-width: 175px;
    max-width: 175px;
    height: 50px;
    font-family: 'Open Sans';
    font-size: 11px;
}

.menu_buttons{
	font-family: 'Open Sans';
	font-weight: 300;
    cursor: pointer;
}


#admin_menu, #admin_roadwork, #admin_incident{
	position: absolute;
	padding: 40px;
	width: 250px;
}

/*BASICALLY THE BACK BUTTONS*/
#adminFunctions a, #adminFunctions a:visited, #adminFunctions a:hover{
	font-size: 15px;
	float: right;
	color: white;
	position:relative;
	left: 20px;
	cursor: pointer;
}

#adminFunctions #buttons a{
	position:relative;
	left:0px;
}
#queryMessage, #lower_div{
	position: fixed;
	margin-top: auto;
	z-index: 1;
	background-color: white;
	-webkit-border-radius:10px;
	-moz-webkit-border-radius:10px;
	width:250px;
	
}

/*--------------------------------*/
       
a{
	text-decoration: none;
	cursor: pointer;
}     
            
#buttons {
    list-style: none;
    margin: 0 10px 0 0;
    padding: 0;
}

#buttons li {
    float: left;
    margin: 0px 0 20px 0;
}

#buttons a {
	font-size: 25px;
    text-transform: none;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    position: relative;
    color: white;
    display: block;
    padding: 0px 9px;
    height: 29px;
    line-height: 50px;
    min-width: 250px;
    height: 50px;
    background-color: #F16161;
    background-image: -webkit-linear-gradient(top,#F16161,#E54F4F);
    background-image: -moz-linear-gradient(top,#F16161,#E54F4F);
    background-image: -ms-linear-gradient(top,#F16161,#E54F4F);
    background-image: -o-linear-gradient(top,#F16161,#E54F4F);
    background-image: linear-gradient(top,#F16161,#E54F4F);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) ;
}

#buttons a:hover {
	font-size: 25px;
    background-color: #357AE8;
    background-image: -webkit-linear-gradient(top,#F16161,#D03333);
    background-image: -moz-linear-gradient(top,#F16161,#D03333);
    background-image: -ms-linear-gradient(top,#F16161,#D03333);
    background-image: -o-linear-gradient(top,#F16161,#D03333);
    background-image: linear-gradient(top,#F16161,#D03333);
}

#buttons a:active {
    top: 1px;
}

#buttons a:focus, #buttons a:selected {
    outline: 0;
}

/*-------------------------------------------------------------------------------------
---------------------------- L O A D I N G  I M A G E ---------------------------------
-------------------------------------------------------------------------------------*/
#loading-image {
	background-color: #333;
	width: 55px;
	height: 55px;
	position: fixed;
	top: 20px;
	right: 20px;
	z-index: 1;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
	-khtml-border-radius: 10px;
}

/*-------------------------------------------------------------------------------------
------------L I G H T B O X / C O L O R B O X : E D I T + D E L E T E -----------------
-------------------------------------------------------------------------------------*/
.colorbox_edit_delete{
	opacity: 1;
	padding: 15px 20px 55px;
	overflow: hidden;
}

.colorbox_edit_delete *{ font-family: 'Open Sans'; font-size: 16px;}

#edit_roadwork{	height: 480px; }

#edit_incident{ height: 490px; }

#delete_roadwork, #delete_incident{	height: 100px; }

div [name="delete_roadwork"], div [name="delete_incident"]{
	width: 180px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}

.lightboxSubmitBtn{ width: 175px; }

.colorbox_edit_delete select{border: 1px solid grey; width: 180px;}


div [name="left"]{
	height: 110px;
	width: 190px;
}

div [name="right"]{
	position: relative;
	float: right;
	width: 620px;
	padding-left: 30px;
	border-left: 1px solid grey;
	top: -100px;
	left: 0px;
	height: 500px;
	margin-bottom: -60px;
}


div [name="right"] textarea{
	max-width: 540px;
	border: 1px solid grey;
	width:525px;
	max-height: 100px;
	height:70px;
	margin: 6 6 6 0px;
	padding: 8px;
}

div [name="right"] input{ border: 1px solid grey; padding: 8px; width: 380px;}
div [name="right"] input[type=text]{ width: 380px;	margin: 6px;}
div [name="right"] select { padding: 7px; height: auto; width: 400px;}
div [name="right"] input[type=submit]{ margin-left: auto; margin-right: auto;}


.colorbox_edit_delete div[name="right"]{
	overflow-y:auto;
	overflow-x: hidden;
}