@font-face {
font-family: 'Open Sans';
src:
    url('../fonts/OpenSans-Light.ttf');
}

@font-face {
    font-family: 'WebSymbolsRegular';
    src: url('../fonts/websymbols-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body{
        margin: 0;
        /*font-family: 'Calibri';*/
        padding: 0;
        height: 100%;
        /*overflow: hidden;*/
        background-color: #282929;
        font-family: 'Open Sans';
}

h1,h2,h3{
	font-family: 'Open Sans';
}

/*-------------------------------------------------------------------------------------
------------------------------ L O G I N + H E A D E  R -------------------------------
-------------------------------------------------------------------------------------*/
#logout{
	overflow: hidden;
	width: auto;
	position: fixed;
	height: 45px;
	right: -95px;
	top: 8px;
	z-index: 0;
	padding-left: 5px;
	color: white;
	background-color: gray;
	transition:0.2s;
	transition-timing-function:linear;
}

#logout:hover{
	z-index: 0;
	right: -15px;
	transition:0.2s;
	transition-timing-function:linear;
}

#logout a{
	font-family: 'Open Sans';
	color: white;
	text-decoration: none;
	position: relative;
	padding: 10px 20px;
	left: -10px;
}

#header{
	color: white;
	font-size: 25px;
	padding: 8px 0;
	margin-bottom: 3px;
	height: auto;
}

#header img{
	height: 30px;
	position: relative;
	top: 6px;
	left: 18px;
}

#header a{
	color:white;
	font-size: 18px;
	float:right;
}

#loginDiv{
	width: 350px;
	height: 50px;
	position: absolute;
	font-size: 12px;
	top: 8px;
	z-index: 1;
	right: 0;
	padding-left: 10px;
	color: white;
}

#loginDiv a{
	color: white;
	text-decoration: none;
	font-size: 14px;
	position: relative;
	padding: 10px 20px;
	left: -10px;
}

.loginasadmin input{
	margin: 5px auto;
	width: 100%;
	font-size: 14px; 
	outline: none;
	padding: 5px;
	border: 1px solid grey;
	font-family: 'Open Sans';
}

.loginasadmin li{
	margin: 0 auto;
	width: 90%;
}

/*-------------------------------------------------------------------------------------
---------------------------------- L O W E R  B O X -----------------------------------
-------------------------------------------------------------------------------------*/

#lowerbox{
	margin-top: -20px;
	height: 87%;
}

#functions{
}

#functions li{
	height: 40px;
	margin-top: -10px;
}

#functions a{
	height: 40px;
}


/*#functions, #panel{
	font-size: 14px;
	background-color: #3B3B3B;
	height: auto;
	padding: 6px 2px 6px 6px;
	color: white;
}

#functions a, #panel a{
	background-color: #404040;
	font-family: 'Open Sans';
	color: white;
	text-decoration: none;
}

#functions a{
	padding-right: 1%;
	padding-left: 1%;
	padding-top: 6px;
	padding-bottom: 6px;
}

#functions input[type=submit]{
	background-image: -webkit-linear-gradient(top,#404040,#404040);
    background-image: -moz-linear-gradient(top,#404040,#404040);
	font-family: 'Open Sans';
	color: white;
	text-decoration: none;
	padding-right: 1%;
	padding-left: 1%;
	padding-top: 6px;
	padding-bottom: 6px;
	outline: none;
	border: 0px solid;
}*/

#functions input[type=submit]:hover{
	background-image: -webkit-linear-gradient(top,grey,grey);
    background-image: -moz-linear-gradient(top,grey,grey);
	color: black;
}

#functions span a{
	background-color: #282929;
	position: relative;
	top: -40px;
	margin-right: 80px;
}

#panel a{
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 6px;
	padding-bottom: 6px;
}

#panel li{
	margin-top: -2px;
	margin-bottom: 2px;
}

#functions a:hover, #panel a:hover, #functions #selected{
	/*background-color: grey;*/
	color: white;
}

#map {
	margin: 0;
	font-family: 'Open Sans';
	font-weight:  300;
	padding: 0;
	height: 100%;
}


/*-------------------------------------------------------------------------------------
------------------------------ T A B L E S _ V I E W ----------------------------------
-------------------------------------------------------------------------------------*/

#table_view{
	margin-top: 0;
	background-color: white;
	font-family: 'Open Sans';
	font-weight:  300;
	padding: 0;
	height: 95%;
	overflow-y: scroll;
	overflow-x: auto;
}

#table_view table{
	font-family: 'Calibri';
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	margin-top: 1%;
	padding: 10px;
	background-color: white;
	overflow: auto;
	border-collapse: collapse;
	text-align: center;
	color: #666666;
}

#table_view th{
	font-size: 16px;
	font-weight: 100;
	padding: 4px 8px;
	border: 1px solid #6E6E6E;
	color:white;
	background-color: #6E6E6E;
}

#table_view td{
	width: auto;
	padding: 5px 8px;
	font-size: 15px;
	border: 1px solid #DBDBDB;
}


#table_view tr:hover{ background-color: #E8E8E8;}


.table_buttons, .lightboxSubmitBtn{
	margin-left: auto;
	margin-right: auto;
	font-family: 'Open Sans';
	color: white;
	cursor: pointer;
	padding: 5px 8px;
	background-image: -webkit-linear-gradient(top,#4D90FE,#4787ED);
    background-image: -moz-linear-gradient(top,#4D90FE,#4787ED);
    background-image: -ms-linear-gradient(top,#4D90FE,#4787ED);
    background-image: -o-linear-gradient(top,#4D90FE,#4787ED);
    background-image: linear-gradient(top,#4D90FE,#4787ED);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) ;
    -webkit-border-radius: 2px;
     -khtml-border-radius: 2px;
       -moz-border-radius: 2px;
        -ms-border-radius: 2px;
         -o-border-radius: 2px;
            border-radius: 2px;
}

.edit_delete{
	position: relative;
	padding: 12px 10px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}



/*-------------------------------------------------------------------------------------
----------------------- T A B L E S   A N D   B U T T O N S ---------------------------
-------------------------------------------------------------------------------------*/

.icon{
	font-family: 'WebSymbolsRegular';
	position: relative;
	top: -1px;
	left: -2px;
}

.notif{
	padding: 1px 6px;
	background-color: pink;
	-webkit-border-radius: 10px;
     -khtml-border-radius: 10px;
       -moz-border-radius: 10px;
        -ms-border-radius: 10px;
         -o-border-radius: 10px;
            border-radius: 10px;
}

#functions a:hover .notif{ background-color: red;}

/*-------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------*/

	

.table_buttons:hover, .lightboxSubmitBtn:hover{
	background-image: -webkit-linear-gradient(top,#4D90FE,#0066CC);
    background-image: -moz-linear-gradient(top,#4D90FE,#0066CC);
    background-image: -ms-linear-gradient(top,#4D90FE,#0066CC);
    background-image: -o-linear-gradient(top,#4D90FE,#0066CC);
    background-image: linear-gradient(top,#4D90FE,#0066CC);
}




/*-------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------*/


#addroadworkDiv img{
	position: relative;
	left: -35px;
}

#loginDiv input[type=submit],
#addRoadworkBtn, #addIncidentBtn{
	font-family: 'Open Sans';
	font-weight: 300;
	height: 25px;
    cursor: pointer;
    margin-right: 1%;
    background-image: -webkit-linear-gradient(top,#F24141,#DE2121);
    background-image: -moz-linear-gradient(top,#F24141,#DE2121);
    border: 1px solid #DE2121;
    text-shadow: 0 -1px rgba(0,0,0,0.3);
    text-decoration: none;
    color: white;
}



#adminFunctions{
	position: relative;
	top: -100%;
	float:right;
	width: 30%;
	height: 100%;
	outline:none;
	color: white;
	overflow-x: hidden;
	overflow-y: auto;
}

#adminFunctions form{
	font-family: 'Open Sans';
	margin-top: 30px;
	font-size: 0.8em;
	width:90%;
	height: 50px;
	padding: 10px;
    text-decoration: none;
}
#adminFunctions input[type=text], #adminFunctions select{
	width: 100%;
	height: 30px;
	border: 0px solid;
}

textarea[name=rwork_desc], textarea[name=inc_desc] {
    width: 97%;
    max-width: 97%;
    resize: vertical;
    height: 90px;
    font-family: 'Open Sans';
    font-size: 11px;
    border: 0px solid;
}

textarea{resize:vertical;}

#adminFunctions #rwork_lat, #adminFunctions #rwork_long,
#adminFunctions #inc_lat, #adminFunctions #inc_long{
	width: 40%;
	font-size: 10px;
}

#adminFunctions #rwork_start, #adminFunctions #rwork_end,
#adminFunctions #inc_start, #adminFunctions #inc_end{
	width: 43%;
	font-size: 14px;
}

#adminFunctions input[type=number] {height: 20px; border: 0px solid;}

#addRoadworkBtn, #addIncidentBtn{
	width: 100%;
	height: 35px;
	font-size: 18px;
	color: white;
	margin-left: auto;
	margin-right: auto;
}


.menu_buttons{
	font-family: 'Open Sans';
	font-weight: 300;
    cursor: pointer;
}


#admin_menu, #admin_roadwork, #admin_incident{
	position: absolute;
	padding: 40px;
	width: 250px;
}

/*BASICALLY THE BACK BUTTONS*/
#adminFunctions a, #adminFunctions a:visited, #adminFunctions a:hover{
	font-size: 15px;
	float: right;
	color: white;
	position:relative;
	left: 20px;
	cursor: pointer;
}

#adminFunctions #buttons a{
	position:relative;
	left:0px;
}
#queryMessage, #lower_div{
	position: fixed;
	margin-top: auto;
	z-index: 1;
	background-color: white;
	-webkit-border-radius:10px;
	-moz-webkit-border-radius:10px;
	width:250px;
	
}

/*--------------------------------*/
       
a{
	text-decoration: none;
	cursor: pointer;
}     
            
#buttons {
    list-style: none;
    margin: 0 10px 0 0;
    padding: 0;
}

#buttons li {
    float: left;
    margin: 0px 0 20px 0;
}

#buttons a {
	font-size: 25px;
    text-transform: none;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    position: relative;
    color: white;
    display: block;
    padding: 0px 9px;
    height: 29px;
    line-height: 50px;
    min-width: 250px;
    height: 50px;
    background-color: #F16161;
    background-image: -webkit-linear-gradient(top,#F16161,#E54F4F);
    background-image: -moz-linear-gradient(top,#F16161,#E54F4F);
    background-image: -ms-linear-gradient(top,#F16161,#E54F4F);
    background-image: -o-linear-gradient(top,#F16161,#E54F4F);
    background-image: linear-gradient(top,#F16161,#E54F4F);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) ;
}

#buttons a:hover {
	font-size: 25px;
    background-color: #357AE8;
    background-image: -webkit-linear-gradient(top,#F16161,#D03333);
    background-image: -moz-linear-gradient(top,#F16161,#D03333);
    background-image: -ms-linear-gradient(top,#F16161,#D03333);
    background-image: -o-linear-gradient(top,#F16161,#D03333);
    background-image: linear-gradient(top,#F16161,#D03333);
}

#buttons a:active {
    top: 1px;
}

#buttons a:focus, #buttons a:selected {
    outline: 0;
}

/*-------------------------------------------------------------------------------------
---------------------------- L O A D I N G  I M A G E ---------------------------------
-------------------------------------------------------------------------------------*/
#loading-image {
	background-color: #333;
	width: 55px;
	height: 55px;
	position: fixed;
	top: 20px;
	right: 20px;
	z-index: 1;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
	-khtml-border-radius: 10px;
}

/*-------------------------------------------------------------------------------------
------------L I G H T B O X / C O L O R B O X : E D I T + D E L E T E -----------------
-------------------------------------------------------------------------------------*/
.colorbox_edit_delete, .colorbox_submit{
	opacity: 1;
	padding: 15px 20px 55px;
	overflow: hidden;
}

.colorbox_edit_delete *, .colorbox_submit *{ font-family: 'Open Sans'; font-size: 16px;}

#edit_roadwork{	height: 480px; }

#edit_incident{ height: 490px; }

#delete_roadwork, #delete_incident{	height: 180px; }

div [name="delete_roadwork"], div [name="delete_incident"]{
	width: 180px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}

.lightboxSubmitBtn{ width: 175px; }

.colorbox_edit_delete select {border: 1px solid grey; width: 180px;}

div [name="left"]{
	height: 110px;
	width: 23%;
}

div [name="left"] *{ width: 100%; }


div [name="right"]{
	position: relative;
	float: right;
	width: 72%;
	top: -100px;
	height: 500px;
	margin-bottom: -60px;
	padding: 0px;
	padding-left: 6px;
	border-left: 1px solid grey;
}
div [name="right"] * {font-size: 98%;}

div [name="right"] textarea{
	border: 1px solid grey;
	height: 20px;
	max-height: 100px;
	margin: 6 6 6 0px;
	padding: 4px;
	width: 90%;
	max-width: 90%;
	resize: vertical;
}

div [name="right"] input{ border: 1px solid grey; padding: 4px;}
div [name="right"] input[type=text]{ width: 90%;}
div [name="right"] select { padding: 4px; height: auto;}
div [name="right"] input[type=submit]{ margin-left: auto; margin-right: auto;}


div [name="right"] input[name='lat2'], div [name="right"] input[name='long2']{
	width: 45%;
	border: 0px solid;
	border-bottom: 1px dashed grey;
	text-align: center;
}


.colorbox_edit_delete div[name="right"]{
	overflow-y:auto;
	overflow-x: hidden;
}





/*-------------------------------------------------------------------------------------
------------- S E N D   R E P O R T /  C O L O R B O X _ S U B M I T ------------------
-------------------------------------------------------------------------------------*/

.colorbox_submit div[name="choose_report"]{
	position: relative;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: -45px;
	width:auto;
}

.colorbox_submit input, .colorbox_submit textarea, .colorbox_submit select{
	border: 1px solid grey;
	background-color: #E8E8E8;
	-webkit-border-radius: 4px;
     -khtml-border-radius: 4px;
       -moz-border-radius: 4px;
        -ms-border-radius: 4px;
         -o-border-radius: 4px;
            border-radius: 4px;
}

/*EXISTING RW OR INC*/
.colorbox_submit select{ 
	padding: 5px;
	width: 420px;
}

/*NAME, EMAIL, SUBJECT*/
.colorbox_submit input[type=text]{ 
	padding: 5px;
	width: 97%;
}

/*COMMENT OR MESSAGE*/
.colorbox_submit textarea{ 
	padding: 5px;
	width: 409px;
	max-width: 409px;
	height: 190px;
}

/*CHOOSE TYPE OF REPORT*/
.colorbox_submit li {
	background-color: grey;
	width: 190px;
	list-style-type: none;
	padding: 5px 0px 5px 5px;
	margin-top: 2px;
}

.colorbox_submit li:hover{ background-color: #3B3B3B;}
.colorbox_submit a{ color: white; }

.colorbox_submit input[type=submit]{ margin-left: auto; margin-right: auto;}

#report_header{
	font-size: 20px;
	font-weight: bold;
	border-bottom: 4px double #4787ED;
	padding-bottom: 5px;
	color: #4787ED;
	text-align: center;
}

.colorbox_submit .lightboxSubmitBtn{ margin-top: 10px; }



/*-------------------------------------------------------------------------------------
----------------- P A N E L : P R I M A R Y  N A V I G A T I O N ----------------------
-------------------------------------------------------------------------------------*/
#panel {
	height: 22px;
	list-style-type: none;
}
#panel li {
	position: relative;
	float: left;
	height: 25px;
	line-height: 25px;
	list-style-type: none;
}

.sub-nav {
	width: 160px;
	opacity: 0.8;
	display: none;
	position: absolute;
	top: 28px;
	left: 0;
	z-index: 999;
	background-color: black;
	color: white;
}

.sub-nav li{
	top: -5px;
	display: block;
	left:-30px;
	font-size: 12px;
}

.sub-nav li input{ cursor: pointer;}

#panel li:hover .sub-nav {display: block;}

/*-------------------------------------------------------------------------------------
----------------------------- V I E W  R E P O R T S ----------------------------------
-------------------------------------------------------------------------------------*/

#selectReportToDisplayBtn{
	margin-left: auto;
	margin-right: auto;
	font-family: 'Open Sans';
	color: white;
	cursor: pointer;
	background-color: #6E6E6E;
}

#report-content{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	padding: 0 50px 100px;
	height: auto;
}

#report-content a{
	padding: 10px;
	background-color: #404040;
	pointer: cursor;
	color: white;
}
#report-content a:hover{ background-color: #282929;}

#markUnread input[type=submit]{
	border: none;
	background-color: transparent;
	color: grey;
	margin: auto;
}

#markUnread input[type=submit]:hover{
	border: none;
	background-color: transparent;
	color: white;
}

/*------------------EDIT ACCOUNT----------------*/

#edit-account{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	padding: 0 50px 100px;
	height: auto;
}

#edit-account table tr:hover{
	background-color: transparent;
}

#edit-account table td{
	border: none;
	font-family: 'Open Sans';
	font-size: 18px;
}

#edit-account table input{
	width: 100%;
	border: 1px solid grey;
	padding: 10px;
}

#edit-account table input[type=submit]{
	width: 50%;
}